.header {
    // background-color: orange;
    padding: 2rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;    
}

.logo {
    height: 3rem;
    width: auto;
    // background-color: pink;
}